@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body {
        text-align: center;
        background: #313233;
        color: whitesmoke;
        font-family: 'Caveat', cursive;
}

h1 {
        font-size: 5em;
}

a {
        color: yellow;
        text-decoration: none;
}

.noselect {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
}
